<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="LocalPackages" value="./LocalPackages"/>
        <!-- Optionally keep https://www.nuget.org/ as a fallback -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>
